[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = "*"
speechrecognition = "*"
google-cloud-speech = "*"
pyjwt = "*"
google-cloud-texttospeech = "*"

[dev-packages]

[requires]
python_version = "3.8"
